<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Localizar livro</h1>

    <form action="/livros" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" placeholder="Digite o id do livro" />
        </div>
        <input type="submit" value="Buscar" />
    </form>
</body>
</html>